# Commented envs are optional
PORT=5020

#############
# auth
#############

# activate basic auth on this API and
#BASIC_AUTH_USER=
#BASIC_AUTH_PASS=
# optional:
#BASIC_AUTH_REALM=

# send basic auth to frontend (for /render and /frontend, leaks to phantomjscloud)
#FRONTEND_BASIC_AUTH_USER=
#FRONTEND_BASIC_AUTH_PASS=

#############
# cluster
#############
# enable
#CLUSTER=true

# how many workers should be started
#WEB_CONCURRENCY=2

# max memory before killing and respawning server
#WEB_MEMORY=512


#############
# render
#############

# required for the /render endpoint to work
#PHANTOMJSCLOUD_API_KEY=

# render urls must start with the following prefix
#RENDER_URL_WHITELIST=https://www.republik.ch

# set a cookie on the phantomjscloud's request to the url to render
#PHANTOM_COOKIE=

#############
# embeds
#############

# proxy s3 requests to these buckets:regions
# required for the /s3 endpoint to work
#AWS_BUCKET_WHITELIST=bucket1:region1,bucket2:region2

#############
# pdf
#############

# base url for the /pdf proxy
#PDF_BASE_URL=https://pdf.example.com
