# Commented envs are optional
# For further config options check the READMEs.
# The ENVs specified are required by at least 2 servers.

#############
# common
#############

# postgres url (shared between republik and publikator)
DATABASE_URL=postgres://localhost:5432/republik

# redis url, leave blank for default: 127.0.0.1:6379
#REDIS_URL=

# elasticsearch url, leave blank for default: localhost:9200
#ELASTIC_URL=

# url to republik-frontend
# used by
#  - auth to construct token links
#  - assets to proxy requests to the frontend
#  - documents to construct absolute document links
#  - republik for payment redirect urls
FRONTEND_BASE_URL=http://localhost:3010

#url to crowdfunding-admin
# used by
#  - slack to send link to profiles to SLACK_CHANNEL_ADMIN
ADMIN_FRONTEND_BASE_URL=http://localhost:3003

# log requsts that take longer than the specified ms
#REQ_TIMEOUT=2000

# keep graphql responses open by sending whitespace each RES_KEEPALIVE_MS
# see packages/base/express/keepalive.js
#RES_KEEPALIVE=true
#
# default is 15s
#RES_KEEPALIVE_MS=
# default is 5min
#RES_KEEPALIVE_TIMEOUT_MS=


#############
# cluster
#############
# enable
#CLUSTER=true

# how many workers should be started
#WEB_CONCURRENCY=2

# max memory before killing and respawning server (assets only)
#WEB_MEMORY=512


#############
# payments
#############

CROWDFUNDING_NAME=LAUNCH


#############
# auth
#############

# express-session's secret
SESSION_SECRET=RANDOM

# where to send auth mails from
AUTH_MAIL_FROM_ADDRESS="kontakt@republik.ch"

# the mandril template's name
AUTH_MAIL_TEMPLATE_NAME=cf_signin

# activate basic auth on this API
# for assets: send basic auth to frontend (for /render and /frontend, leaks to phantomjscloud)
#BASIC_AUTH_USER=
#BASIC_AUTH_PASS=
# optional:
#BASIC_AUTH_REALM=

# enforce user to consent to policies when trying to authorize a session
# comma separated list of values
#ENFORCE_CONSENTS=PRIVACY

#############
# mail
#############

# mails are plotted to stdout if set to false
SEND_MAILS=false

# Semi-colon separated regex patterns to allow emails send to.
# Use if you are well-versed with regular expressions.
# May conflict with SEND_MAILS_DOMAIN_FILTER
# Requires SEND_MAILS to be true
#SEND_MAILS_REGEX_FILTERS=^.+@republik\.ch$;^foobar@domain\.tld$

# If sending emails is enabled, catch-all emails generated and forward them to
# this email address instead.
#SEND_MAILS_CATCHALL=your.email@republik.ch

# Tags attached for internal query and stats purposes
# see https://mandrill.zendesk.com/hc/en-us/articles/205582467-How-to-Use-Tags-in-Mandrill
SEND_MAILS_TAGS=dev,localhost

# required for mails to work, set SEND_MAILS to false for a quick start
#MANDRILL_API_KEY=

DEFAULT_MAIL_FROM_ADDRESS="kontakt@republik.ch"
DEFAULT_MAIL_FROM_NAME="Republik"

# mailchimp
# used by
#  - publikator to create campaigns and upload html
#  - republik to set interests based on belongings of a user
#MAILCHIMP_URL=https://us9.api.mailchimp.com
#MAILCHIMP_API_KEY=

#############
# assets
#############

ASSETS_SERVER_BASE_URL=http://localhost:5020

# shared secret with which publikator-backend authenticates urls to assets-backend
# min 32bit
ASSETS_HMAC_KEY=RANDOM

# AWS secrets
# used by
#  - republik to upload (profile) images
#  - publikator to upload images on publish
AWS_REGION=eu-central-1
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#############
# keyCDN
#############
# used to purge urls / tags on keyCDN
#KEYCDN_API_KEY=
#KEYCDN_ZONE_ID=
#KEYCDN_ZONE_URL=
#PURGE_PSK=

#############
# github
#############

# log ratelimit every 15min to stdout
#GITHUB_LOG_RATELIMIT=true

# List of all potential GitHub organizations data my stem from (optional)
#GITHUB_ORGS=organization-one,organization-two

# checkout the README on how to get these
GITHUB_LOGIN=
GITHUB_APP_ID=
GITHUB_APP_KEY=
GITHUB_INSTALLATION_ID=


################
# Notifications
################

# notifications are plotted to stdout if set to false
#SEND_NOTIFICATIONS=true

#FIREBASE_PROJECT_ID=
#FIREBASE_CLIENT_EMAIL=
#FIREBASE_DATABASE_URL=
#FIREBASE_PRIVATE_KEY=

#APN_BUNDLE_ID=
#APN_TEAM_ID=
#APN_KEY_ID=
#APN_KEY=


#############
# dev
#############
# IP used by docker-compose-test-net.yml to use as
# the resolving address for *.republik.test
#LOCAL_IP=192.168.1.88

# disable schedulers:
#ACCESS_SCHEDULER_OFF=true
#PREVIEW_SCHEDULER_OFF=true
#PUBLICATION_SCHEDULER_OFF=true
