.explorer {
  padding: 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-auto-rows: minmax(5rem, 1fr);
  list-style: none;
  gap: 1px;
}

.icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid hotpink; */
  box-shadow: 0 0 0 1px lightgray;

  padding: 1rem;
  box-sizing: border-box;
}

.iconTitle {
  font-size: 0.8em;
}
