# Commented envs are optional

# the url of publikator-frontend
CORS_WHITELIST_URL=http://localhost:3005

# analytics with apollo's engine
#ENGINE_API_KEY=

# default settings for mailchimp campaign creation
MAILCHIMP_FROM_NAME=Republik
MAILCHIMP_REPLY_TO=kontakt@republik.ch

# filter repos by their names
#REPOS_NAME_FILTER=newsletter-,article-

# restricts the documents endpoint to users with the following roles
# totalCount is always available
# querying a single document by path is always allowed
#DOCUMENTS_RESTRICT_TO_ROLES=member,editor

#############
# embeds
#############
#TWITTER_APP_KEY=
#TWITTER_APP_SECRET=

#VIMEO_APP_KEY=
#VIMEO_APP_SECRET=
#VIMEO_APP_ACCESS_TOKEN=

#YOUTUBE_APP_KEY=

#############
# Maintenance Flags
#############
# DISABLE_PUBLISH=true
