# build output
dist
.next

# dependencies
node_modules

# logs
*.log

# env files
.env
# local env files
.env*.local

# coverage
.nyc_output
coverage

# test output
test/**/out
.DS_Store

# editor config
.idea

# zat
/zat/tmp
/zat/.zat
/zat/settings.json

# Sentry Auth Token
.sentryclirc

# Generated GQL types
!graphql/*/__generated__/gql/README.md
graphql/*/__generated__

# Vercel
.vercel
