NEXT_PUBLIC_API_URL=http://localhost:5010/graphql
NEXT_PUBLIC_BASE_URL=http://localhost:4000
NEXT_PUBLIC_REPUBLIK_BASE_URL=http://localhost:3010
# Remote URL to the custom assets server, if given
# NEXT_PUBLIC_CDN_URL=http://localhost:5020/s3/some/path/

# Project R Newsletter format ID
NEWSLETTER_ID=12345

SG_FONT_STYLES={"serifTitle":{"fontFamily":"serif","fontWeight":900},"serifRegular":{"fontFamily":"serif"},"serifItalic":{"fontFamily":"serif","fontStyle":"italic"},"serifBold":{"fontFamily":"serif","fontWeight":700},"serifBoldItalic":{"fontFamily":"serif","fontWeight":700,"fontStyle":"italic"},"sansSerifRegular":{"fontFamily":"sans-serif"},"sansSerifItalic":{"fontFamily":"sans-serif","fontStyle":"italic"},"sansSerifMedium":{"fontFamily":"sans-serif","fontWeight":500},"monospaceRegular":{"fontFamily":"monospace"},"cursiveTitle":{"fontFamily":"sans-serif","fontWeight":500,"fontStyle":"italic"}}
