/* tmp hack */
svg g[fill="#FFFFFF"] {
  fill: #000;
}

#root ul[class^="catalog"][class*="ul-Styled"] ul[class^="catalog"][class*="ul-Styled"] {
  margin-top: 0 !important;
  font-size: 18px;
}

/* code area of catalog */
pre.css-o6vvb1 {
  max-height: 800px;
  overflow: auto;
}

[class*="ReactSpecimen"] {
  background-color: transparent !important;
}
