/* tmp hack */
svg g[fill="#FFFFFF"] {
  fill: #000;
}

#root .cg-Page > hr {
    margin: 10px 0;
    border-bottom: 1px solid #000;
}

#root .cg-Specimen-Html, #root section {
    border: none !important;
}
