/* tmp hack */
svg g[fill="#FFFFFF"] {
  fill: #000;
}

#root ul[class^="catalog"][class*="ul-Styled"] ul[class^="catalog"][class*="ul-Styled"] {
  margin-top: 0 !important;
  font-size: 18px;
}

/* code area of catalog */
pre.css-o6vvb1 {
  max-height: 800px;
  overflow: auto;
}

.dark-mode svg g[fill="#FFFFFF"] {
  fill: #fff;
}

.dark-mode code, .dark-mode section, .dark-mode section > div:nth-child(2), .dark-mode section > div:nth-child(3) {
  border-color: #4C4D4C !important;
  border-radius: 0 !important;
}

.dark-mode pre {
  background: #191919 !important;
}

.dark-mode div.css-eplqeh, .dark-mode div.css-zty0sa {
  background: #1F1F1F !important;
}

.dark-mode div.css-invpxs {
  background: #292929 !important;
}

iframe.css-755oq1 {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAF0lEQVQI12P4BAI/QICBFCaYBPNJYQIAkUZftTbC4sIAAAAASUVORK5CYII=') !important;
}

[class*="ReactSpecimen"] {
  background-color: transparent !important;
}
