# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# build
/.next

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
# Sentry Auth Token
.sentryclirc

# Generated GQL types
!graphql/*/__generated__/gql/README.md
graphql/*/__generated__/gql
